/* _reset.scss */

*,
*::after,
*::before {
    box-sizing: inherit;
}


/* 
ul[class],
ol[class] {
    padding: 0
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul[class] {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

html,
body {
    height: 100%;
    font-family: "Inter", sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 0 auto;
}

span {
    color: rgb(20, 145, 134);
}

.footer {
    flex: 0 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    background-color: #fbf8f3;
    padding: 30px 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    font-size: 20px;
}

.menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list-item {
    margin-left: 30px;
    font-size: 20px;
    color: #96938f;
}

.button-twitter {
    display: flex;
    font-size: 16px;
    width: 250px;
    background-color: #1da1f2;
    padding: 20px;
    justify-content: space-between;
    border: none;
    border-radius: 10px;
    color: white;
    align-items: center;
}

.header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__main-chart {
    width: 100%;
    background-repeat: no-repeat;
}

.header__main__info {
    padding-right: 40px;
}

.header__main__info-title {
    font-size: 70px;
}

.header__main__info-text {
    /* width: 90%; */
    font-size: 20px;
    line-height: 30px;
    margin: 20px 0 40px;
    /* letter-spacing: 1px; */
    color: #a2a2a2;
}

.header__main__info-link {
    display: flex;
    align-items: center;
}

.header__main__info-link-more {
    font-size: 20px;
    color: rgb(20, 145, 134);
}

.header__main__info-link-more {
    padding-left: 30px;
}

.header__main__info-followers {
    padding: 40px 0 20px;
    display: flex;
}

.c {
    position: relative;
}

.c2 {
    right: 20px;
}

.c3 {
    right: 40px;
}

.c4 {
    right: 60px;
}

.c5 {
    right: 80px;
}

.c6 {
    right: 100px;
}

.c7 {
    right: 120px;
}

.c8 {
    right: 140px;
}

.c9 {
    right: 160px;
}

.main__title {
    padding: 60px 0 40px;
    font-size: 40px;
}

.features {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 40px;
    row-gap: 40px;
    padding-bottom: 60px;
}

.fetaures__item {
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    color: #96938f;
    font-size: 20px;
    padding: 20px;
    /* letter-spacing: 1px; */
}

.fetaures__item img {
    width: 10%;
}

.fetaures__item h3 {
    padding: 15px 0;
    color: black
}

.comments {
    background-color: #d7f5f5;
}

.comments__items {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}

.comments__item {
    width: 32%;
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
}

.comments__item-customer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comments__item-customer-info {
    display: flex;
    align-items: center;
}

.comments__item-customer-info-date {
    padding-left: 10px;
}

.comments__item-customer-info-date p {
    color: #96938f;
    font-size: 12px;
}

.comments__item-text {
    color: #96938f;
    font-size: 16px;
    letter-spacing: 1px;
    /* padding: 10px 0; */
}

.comments__item-like {
    color: #96938f;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comments__item-like-date {
    display: flex;
    align-items: center;
}

.comments__item-like-date p {
    padding-left: 5px;
}

.price {
    text-align: center;
    padding-bottom: 60px;
}

.price__describe {
    width: 40%;
    margin: 0 auto;
    color: #96938f;
    padding-bottom: 50px;
}

.cart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    width: 41%;
    border: 1px solid orange;
    border-radius: 5px;
    margin: 0 auto;
}

.cart__price {
    display: flex;
    align-items: center;
}

.cart__price p {
    color: #96938f;
}

.h_line {
    width: 100%;
    height: 1px;
    background: #a5a0a0;
    margin: 20px 0;
}

.cart__oportunity {
    display: flex;
    align-items: center;
    padding: 10px 0;
    color: #96938f;
}

.cart__oportunity img {
    padding-right: 10px;
}

.cart-monthly {
    font-size: 16px;
    color: #96938f;
    padding-bottom: 5px;
}

.trial {
    width: 100%;
    justify-content: center;
    padding: 15px;
}

.trial p {
    padding-left: 10px;
}

footer {
    background-color: #d7f5f5;
}

.ab {
    color: black;
}

.footer__menu {
    padding-top: 30px;
}